@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background:#0a0a0a;
}
::-webkit-scrollbar-thumb {
    background: #1a1a1a;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}